<nav class="w-full bg-neutral py-2 border-b fixed ">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between">

        <div>
            <ul class="flex items-center justify-between font-bold text-sm text-white uppercase no-underline">
                <li>
                    <button (click)="openModal()" class="hover:text-gray-200 hover:underline px-4">{{ 'contact' |
                    translate }}</button>
                </li>
            </ul>
        </div>
        <div class="text-lg text-white">
            <a class="" href="https://www.linkedin.com/in/steveen-ordo%C3%B1ez-244b0a227/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="pl-6" href="https://www.instagram.com/steveen_cues/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="pl-6" href="https://github.com/hscordonez" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>

        <div class="flex items-center text-lg no-underline text-white pr-6">
            <div class="pl-6">
                <button (click)="toggleTheme()">
                <i class="text-white" [ngClass]="sunMoonIcon"></i>
            </button>
            </div>
            <div class="flex " (click)="toggleLanguageDropdown()">
                <button data-dropdown-toggle="dropdown-states" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-neutral">
                Idioma <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
            </button>
                <ul *ngIf="languageDropdownOpen" class="mt-10 px-2 w-auto absolute bg-primary border  text-sm rounded-e-lg w-full p-2.5 center ml-5">
                    <li class="cursor-pointer hover:bg-secondary text-white" (click)="changeLanguage('en'); toggleLanguageDropdown()">English</li>
                    <li class="cursor-pointer hover:bg-secondary text-white" (click)="changeLanguage('es'); toggleLanguageDropdown()">Español</li>
                </ul>

            </div>
        </div>
    </div>

</nav>

<div class="relative">
    <app-modal-form *ngIf="isModalOpen" (close)="closeModal()"></app-modal-form>
</div>