<div class="hero min-h-screen bg-neutral text-white relative flex justify-center items-center">
    <div class="hero-content text-center">
        <div class="max-w-xl">
            <h1 class="text-5xl font-bold hover:text-gray-400">404</h1>
            <h3>{{ 'Page not found' | translate }}</h3>
            <p class="py-6">{{ 'Message page not found' | translate }}
                <br> {{ 'Message page not found 1' | translate }}
            </p>
            <button (click)="getBack()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                {{ 'Go back' | translate }}
            </button>
        </div>
    </div>
</div>