<div class="max-w-auto bg-primary mx-h-full">

  <div class="h-20 w-full bg-neutral grid grid-cols-3 gap-3 shadow-sm fixed shadow-white">

    <div class="items-center flex items-center justify-start ml-5">
      <button id="toggleButtonEmail" (click)="toggleMenuEmail()" class="text-lg font-semibold text-white">{{ 'contact' |
        translate }}</button>
    </div>
    <div class="flex items-center justify-center">
      <a href="tu-enlace-a-LinkedIn">
        <i class="fa-brands fa-linkedin mx-2 text-white"></i>
      </a>
      <a href="tu-enlace-a-Instagram">
        <i class="fa-brands fa-instagram mx-2 text-white"></i>
      </a>
      <a href="tu-enlace-a-Discord">
        <i class="fa-brands fa-discord mx-2 text-white"></i>
      </a>
      <a href="tu-enlace-a-GitHub">
        <i class="fa-brands fa-github mx-2 text-white"></i>
      </a>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <div class="flex items-center justify-end">
        <button (click)="toggleTheme()">
          <i class="text-white" [ngClass]="isDarkMode ? 'fa-solid fa-moon' : 'fa-solid fa-sun'"></i>
        </button>
      </div>

      <div class="flex items-center">
        <button (click)="toggleLanguageDropdown()">
          <i class="fa-solid fa-language cursor-pointer text-white"></i>
        </button>
        <ul *ngIf="languageDropdownOpen" class="absolute h-12 text-center w-16 mt-20 bg-dark shadow-md rounded">
          <li class="cursor-pointer hover:bg-secondary text-white"
            (click)="changeLanguage('en'); toggleLanguageDropdown()">English</li>
          <li class="cursor-pointer hover:bg-secondary text-white"
            (click)="changeLanguage('es'); toggleLanguageDropdown()">Español</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="h-96 bg-primary flex flex-col justify-center portada-container items-center">
    <h1 class="font-bold text-4xl shadow-text uppercase">Conoce más sobre mí</h1>
    <button id="toggleButton" (click)="toggleMenu()"
      class="btn bg-secondary text-center text-white rounded-lg h-12 w-40 uppercase">ver mí infomración</button>
  </div>

  <!-- modal del correo -->
  <div *ngIf="isMenuOpenEmail"
    [ngClass]="{'dropdown-content': showMenuDownEmail, 'dropdown-content-up': !showMenuDownEmail}" class="relative z-10"
    aria-labelledby="modal-title" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-neutral flex justify-center items-center text-xl font-bold">
            <h1>Steveen Ordoñez</h1>
          </div>
          <form [formGroup]="formGroup" action="javascript:void(0)" (submit)="send()" class="bg-neutral shadow-md rounded px-8 pt-6 pb-8 mb-4">

            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="full-name">
                Nombre completos
              </label>
              <input formControlName="from_name"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="full-name" type="text" placeholder="nombres completos">
            </div>

            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Correo Electronico
              </label>
              <input formControlName="from_email"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email" type="text" placeholder="Email">
            </div>

            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="subject">
                Sujeto
              </label>
              <input formControlName="subject"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="subject" type="text" placeholder="sujeto">
            </div>

            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="message">
                Mensaje
              </label>
              <textarea formControlName="message"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="message" type="text" placeholder="mensaje">
            </textarea>
            </div>

            <div class="flex items-center justify-between">
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Enviar
              </button>
              <button type="button" (click)="cerrarModalEmail()" type="button"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- modal de la informacion personal -->
  <div *ngIf="isMenuOpen" [ngClass]="{'dropdown-content': showMenuDown, 'dropdown-content-up': !showMenuDown}"
    class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-neutral flex justify-center items-center text-xl font-bold">
            <h1>Steveen Ordoñez</h1>
          </div>
          <div class="bg-neutral grid grid-cols-2 px-3 p-5">

            <div class="image-container text-center flex items-center justify-center"
              (mouseover)="mostrarImagenSecundaria()" (mouseout)="ocultarImagenSecundaria()">
              <img *ngIf="mostrarPrimaria" class="h-52 w-64 primary-image" src="../../../assets/img/steveen.jpeg"
                alt="">
              <img *ngIf="mostrarSecundaria" class="h-52 w-64 secondary-image" src="../../../assets/img/steveen1.jpg"
                alt="">
              <p class="text-white"><span class="font-bold">Hola amigos!</span>

            </div>



            <div class="px-2">
              <div class="text-white">
                <span class="font-bold">Informacion Personal:</span>
                <ul class="list-inside ml-4 text-sm">
                  <li class="relative flex items-center">
                    <span class="inline-block fa-solid fa-circle mt-3"
                      style="font-size: 0.6rem; position: relative; transform: translateY(-50%);"></span>
                    <p class="text-white"><span class="font-bold ml-2">Edad:</span> 23</p>
                    <div class="absolute h-3 left-0 top-6 border-l-2 border-red border-black ml-1"></div>
                  </li>
                  <li class="relative flex items-center mt-3">
                    <span class="inline-block fa-solid fa-circle mt-3"
                      style="font-size: 0.6rem; position: relative; transform: translateY(-50%);"></span>
                    <p class="text-white"><span class="font-bold ml-2">Residencia:</span> Quito-Ecuador</p>
                  </li>
                </ul>
              </div>

              <div class="text-white">
                <span class="font-bold">Formación académica:</span>
                <ul class="list-inside ml-4 text-sm">
                  <li class="relative flex items-center">
                    <span class="inline-block fa-solid fa-circle mt-3"
                      style="font-size: 0.6rem; position: relative; transform: translateY(-50%);"></span>
                    <span class="ml-2">Bachillerato en Ciencias.</span>
                    <div class="absolute h-3 left-0 top-6 border-l-2 border-red border-black ml-1"></div>
                  </li>
                  <li class="relative flex items-center mt-3">
                    <span class="inline-block fa-solid fa-circle mt-3"
                      style="font-size: 0.6rem; position: relative; transform: translateY(-50%);"></span>
                    <span class="ml-2">Tecnología en Software.</span>
                    <div class="absolute h-3 left-0 top-6 border-l-2 border-red border-black ml-1"></div>
                  </li>
                  <li class="relative mt-3">
                    <span class="inline-block fa-solid fa-circle" style="font-size: 0.6rem;"></span>
                    <span class="ml-2">Ingeniería en Software.</span>
                  </li>
                </ul>
              </div>

              <div class="text-white">
                <span class="font-bold">Experiencia Laboral:</span>
                <ul class="list-inside ml-4 text-sm">
                  <li class="relative flex items-center">
                    <span class="inline-block fa-solid fa-circle mt-3"
                      style="font-size: 0.6rem; position: relative; transform: translateY(-50%);"></span>
                    <span class="ml-2">Monto Acrilica.</span>
                    <div class="absolute h-3 left-0 top-6 border-l-2 border-red border-black ml-1"></div>
                  </li>
                  <li class="relative flex items-center mt-3">
                    <span class="inline-block fa-solid fa-circle mt-3"
                      style="font-size: 0.6rem; position: relative; transform: translateY(-50%);"></span>
                    <span class="ml-2">Manticore-labs.</span>
                    <div class="absolute h-3 left-0 top-6 border-l-2 border-red border-black ml-1"></div>
                  </li>
                  <li class="relative mt-3">
                    <span class="inline-block fa-solid fa-circle" style="font-size: 0.6rem;"></span>
                    <span class="ml-2">Corporación Jetmind.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="button" (click)="cerrarModal()"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div>

    <div class="text-center mt-2">
      <h1 class="font-bold text-2xl shadow-text uppercase">Habilidades en Programación</h1>
    </div>

    <div class="mt-10 grid md:grid-cols-3 lg:grid-cols-4 sm:grid-cols-1 bg-primary ml-5 mr-5 px-5 space-x-3 space-y-1">

      <div class="grid grid-cols-1">
        <div class="card card-compact h-72 rounded-md px-2 shadow-xl mt-2">
          <figure><img class="h-40 w-72" src="../../../assets/img/Linguajes.png" alt="Lenjuages de Programación" />
          </figure>
          <div class="card-body mt-2">
            <h2 class="card-title uppercase font-bold">Lenjuages de Programación</h2>
            <p class="text-sm">Los lenguajes con los que mas me familiarizo son:
              TypeScript, Php, Java, JavaScript, Python</p>
          </div>
        </div>
      </div>



      <div class="grid grid-cols-1">
        <div class="card card-compact h-72 rounded-md px-2 shadow-xl mt-2">
          <figure><img class="h-40 w-72" src="../../../assets/img/base.png" alt="Base de datos" /></figure>
          <div class="card-body mt-2">
            <h2 class="card-title uppercase font-bold">Base de datos</h2>
            <p class="text-sm">En base de datos tengo experiencia con postgrest y MySql ademas de modelar y administrar
              base de datos.</p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1">
        <div class="card card-compact h-72 rounded-md px-2 shadow-xl mt-2">
          <figure><img class="h-40 w-72" src="../../../assets/img/frameworks.png" alt="Frameworks" /></figure>
          <div class="card-body mt-2">
            <h2 class="card-title uppercase font-bold">Frameworks</h2>
            <p class="text-sm">En frameworks tengo experiencia en angular, laravel, Nestjs Spring Boot, por lo que he
              trabajado tanto como
              programador frontend como backend.</p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1">
        <div class="card card-compact h-72 rounded-md px-2 shadow-xl mt-2">
          <figure><img class="md:h-40 md:w-72 lg:h-40 lg:w-72 sm:h-32 h-32" src="../../../assets/img/versiones.png"
              alt="Frameworks" /></figure>
          <div class="card-body mt-2">
            <h2 class="card-title uppercase font-bold">Gestionador de versiones</h2>
            <p class="text-sm">Para gestionar versiones lo que mas utilizo es git con sus interfaces como github y
              gitlab.</p>

          </div>
        </div>
      </div>
    </div>
  </div>