@import "~@fortawesome/fontawesome-free/css/all.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: transparent;
    --mdc-snackbar-supporting-text-color: rgba(15, 14, 14, 0.87);
    --mat-snack-bar-button-color: #ff4081;
    --mdc-snackbar-supporting-text-font: Roboto, sans-serif;
    --mdc-snackbar-supporting-text-line-height: 20px;
    --mdc-snackbar-supporting-text-size: 14px;
    --mdc-snackbar-supporting-text-weight: 400;
  } */